{%extends 'usuarios/base.html' %}


{% block conteudo %}
<div class="container">
    <table class="table table-bordered table-striped">
        <tr>
            <th>nome</th>
            <th>notas</th>



        </tr>
        
        {% for nota in notas %}
        <tr>
            <td>{{nota.materia.nome}}</td>
            <td>{{nota.media}}</td>
            
            
        </tr>
        {% endfor %}


    </table>

    <button style="width: 300px; background-color: aqua;"><a href="{% url 'home' %}">Home</a></button>

    <div class="spacement" style="height: 200px;"></div>

</div>
{%endblock%}